@page
@model Time2Cook.RecipeResultsModel
<div class="recipe-grid">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="recipe-card">

            <img src="@recipe.Image" alt="@recipe.Name" />

            <div class="recipe-content">
                <h3>@recipe.Name</h3>

                <div class="recipe-info">
                    <span>💰 @recipe.Cost</span>
                    <span>🔥 @recipe.Calories Calories</span>
                    <span>⏱ @recipe.Time</span>
                </div>

                <a href="/RecipeDetails?name=@recipe.Name" class="recipe-btn">
                      View Recipe
                   
                </a>
            </div>

        </div>
    }
</div>